@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');
*,
::before,
::after{
    box-sizing: border-box;
    
}

body{
    margin: 1px;
    font-family: 'Roboto', sans-serif;

}


.ohmy-logo{
    font-size: 120%;
}
header{
    font-family: "Shrikhand";
    text-align: center;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(165, 165, 161);
    padding: 0.5rem;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 150%;
    background-color: #f3f3f3;
    padding: 0.1rem;
    gap: 2rem;
    
    
}

.bi-geo-alt-fill, i{
    
font-size: 2rem;
}

#decouverte{
    text-align: center;
    font-size: 1rem;
}
h1{
    font-size: 22px;
}

.choix{

}

.explorez{
    text-align: center;
    font-size: 25px;
}

button{

border-radius: 100rem;
}